@charset "UTF-8";
.text-btn {
  width: 16.7rem;
  height: 4.8rem;
  background-color: #014724;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  position: relative;
  backface-visibility: hidden;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1.8rem;
}

@media (max-width: 420px) {
  .text-btn {
    width: 24rem;
    font-size: 2.5rem;
    padding: 0 3.2rem;
    height: 6.8rem;
    margin: 2.4rem 0 4.8rem;
  }
}

.text-btn:hover {
  transform: translateY(-1rem);
  transition: 0.4s;
  box-shadow: 0 4px 8px 1px rgba(0, 114, 15, 0.57);
}
/* Бургер меню */
.burger {
  display: none;
  justify-content: flex-end;
  z-index: 20;
  cursor: pointer;
}

@media (max-width: 420px) {
  .burger {
    display: flex;
  }
}

.burger .menu-btn {
  width: 0;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: 1s ease;
  transform: rotate(90deg);
}

.burger .menu-btn.animated {
  transform: rotate(0);
  width: 30px;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #014724;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu-btn.active span:nth-of-type(1) {
  display: none;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Меню, которое будет появляться */
@media (max-width: 420px) {
  .menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 10;
    background: #128049;
    transform: scaleY(0);
    transition: transform 0.8s;
    backface-visibility: hidden;
  }
}

.menu.active {
  transform: scaleY(1);
  transition: transform 0.8s;
}

.menu li {
  list-style-type: none;
}
/* Header */
.header {
  width: 100%;
  color: #fdfcfc;
  height: 7.5rem;
  padding: 1rem;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  text-transform: uppercase;
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #FFF;
  opacity: 0;
  transition: 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo__text{
  margin-right: 1.5rem;
}

.header__logo.animated {
  opacity: 1;
}

.header__logo__img{
  height: 6rem;
  width: 8rem;
}

.header__nav {
  display: flex;
}

.info-block{
  width: 100vw;
  height: 5rem;
  top: 13rem;
  text-align: center;
  padding-top: 1.7rem;
  position: absolute;
  font-size: 2.5rem;
  z-index: 100;
  background-color: #014724;

}

@media (max-width: 420px) {
  .header__nav {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

}

.header__nav-link {
  margin-right: 4.4rem;
  font-family: 'Inter-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  position: relative;
  transition: 0.3s;
  opacity: 0;
  transform: translateX(-30px);
  transition: 1.3s linear;
}
.header__nav-link.animated {
  transform: translateX(0);
  opacity: 1;
}
.header__nav-link{
  padding: 0;
  margin-right: 1.7rem;
}
.header__nav-link:hover {
  transition: 0.3s;
  transform: translateY(-5px);
}

@media (max-width: 420px) {
  .header__nav-link {
    margin-bottom: 5.5rem;
  }
}

.header__nav-link a {
  transition: 0.3s;
}

.header__nav-link a:hover {
  transition: 0.3s;
  color: #133623;
}

@media (max-width: 420px) {
  .header__nav-link a {
    font-size: 4rem;
    font-weight: 700;
  }
}

/* Утилиты */
.text-center {
  text-align: center;
}

.img-ad{
  height: auto;
  width: 100%;
  max-width: 720px;
}

.block-center {
  margin: auto;
}

.block-flex{
  display: block;
  justify-content: center;
  align-items: center;
}

.vh_normal{
  width: 65rem;
  height: 65rem;
}

.margin-bottom-10px {
  margin-bottom: 1rem;
}

.margin-bottom-20px {
  margin-bottom: 2rem;
}

.margin-bottom-30px {
  margin-bottom: 3rem;
}

.margin-bottom-50px {
  margin-bottom: 5rem;
}

.margin-bottom-80px {
  margin-bottom: 8rem;
}

.margin-bottom-100px {
  margin-bottom: 10rem;
}

.margin-bottom-150px {
  margin-bottom: 15rem;
}
/*шрифты*/
@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter/static/Inter-Bold.ttf);
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
  font-family: 'Inter-Light';
  src: url(../fonts/Inter/static/Inter-Light.ttf);
}
/*Сброс стилей*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Настройка адаптивности + настройка контейнеров + общие стили*/
.main p {
  font-size: 1.8rem;
}

@media (max-width: 720) {
  .main p {
    font-size: 3rem;
  }
}

.main a {
  font-size: 2.3rem;
}

@media (max-width: 420px) {
  .main a {
    font-size: 4rem;
  }
}

html,
body {
  font-size: 62.5%;
  color: #ffffff;
  overflow-x: hidden;
  min-height: 100%;
  overflow-y: scroll;
}
.img-body{
  display: block;
  filter: brightness(40%);
  position: fixed;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
@media (max-width: 1320px) {
  html,
  body {
    font-size: 60%;
  }
}

@media (max-width: 1255px) {
  html,
  body {
    font-size: 58%;
  }
}

@media (max-width: 1188px) {
  html,
  body {
    font-size: 54%;
  }
}

@media (max-width: 1100px) {
  html,
  body {
    font-size: 50%;
  }
}

@media (max-width: 1010px) {
  html,
  body {
    font-size: 48%;
  }
}

@media (max-width: 930px) {
  html,
  body {
    font-size: 45%;
  }
}

@media (max-width: 855px) {
  html,
  body {
    font-size: 40%;
  }
}

@media (max-width: 780px) {
  html,
  body {
    font-size: 35%;
  }
}

@media (max-width: 750px) {
  html,
  body {
    font-size: 30%;
  }

  .main a,
  .main p {
    font-size: 3rem;
  }
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 28%;
  }
}

@media (max-width: 555px) {
  html,
  body {
    font-size: 27%;
  }
}

@media (max-width: 518px) {
  html,
  body {
    font-size: 26%;
  }
}

@media (max-width: 490px) {
  html,
  body {
    font-size: 24%;
  }
}

@media (max-width: 450px) {
  html,
  body {
    font-size: 22%;
  }
}

@media (max-width: 420px) {
  html,
  body {
    font-size: 30%;
  }
}

@media (max-width: 285px) {
  html,
  body {
    font-size: 29%;
  }
}

@media (max-width: 276px) {
  html,
  body {
    font-size: 27%;
  }
}

@media (max-width: 262px) {
  html,
  body {
    font-size: 24%;
  }
}

@media (max-width: 172px) {
  html,
  body {
    font-size: 17%;
  }
}

@media (max-width: 126px) {
  html,
  body {
    font-size: 15%;
  }
}

@media (max-width: 126px) {
  html,
  body {
    font-size: 14%;
  }
}

.html.static {
  overflow-y: scroll;
}

.wrapper {
  max-width: 1440px;
  padding: 5rem;
  position: relative;
}
/*Типографика*/
h1,
h2,
h5,
h6 {
  font-family: 'Inter-Bold';
  font-weight: 700;
  font-size: 4.4rem;
  text-transform: capitalize;
  font-style: normal;
}

.main a,
.main a {
  color: #ffffff;
  text-decoration: none;
}

.main p {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: 'Inter-Regular';
}

h5 {
  font-weight: 400;
  font-size: 1.8rem;
  font-family: 'Inter-Light';
}

h6 {
  font-weight: 700;
  font-size: 1.8rem;
  font-family: 'Inter-Light';
}

.main a {
  font-size: 1.7rem;
}

@media (max-width: 420px) {
  .main a {
    font-size: 4rem;
  }
}
/*Общие стили для блоков*/
.hero__content,
.branding__content,
.custom__content,
.contact__content,
.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .hero__content,
  .branding__content,
  .custom__content,
  .contact__content,
  .footer__content {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 420px) {
  .hero h2,
  .hero h1,
  .branding h2,
  .branding h1,
  .custom h2,
  .custom h1,
  .contact h2,
  .contact h1,
  .footer h2,
  .footer h1 {
    margin-bottom: 6rem;
  }
}

@media (max-width: 420px) {
  .hero__box,
  .branding__box,
  .custom__box,
  .contact__box,
  .footer__box {
    margin: auto;
    margin-bottom: 7.2rem;
  }
}
.hero__text.anim.animated .hero__image.anim.animated img{
  height: 21rem;
}
.hero__text,
.branding__text,
.custom__text,
.contact__text,
.footer__text {
  width: 60rem;
}

.hero__text a,
.branding__text a,
.custom__text a,
.contact__text a,
.footer__text a {
  font-size: 4.2rem;
}

.hero__text h1,
.branding__text h2,
.custom__text a,
.contact__text h2,
.footer__text h2 {
  font-size: 4.2rem;
}

.hero__text {
  opacity: 0;
  transform: rotateX(-20px);
  transition: 1.8s;
}

.hero__text.animated {
  opacity: 1;
  transform: rotateX(0);
}

.branding__text,
.custom__text,
.contact__text {
  transform: scale(0);
  transition: 1.8s;
  opacity: 0;
}

.branding__text.animated,
.custom__text.animated,
.contact__text.animated {
  transform: scale(1);
  opacity: 1;
}

.hero__image img,
.branding__image img,
.custom__image img,
.contact__image img,
.footer__image img {
  width: 45rem;
  height: 45rem;
  opacity: 0;
  transition: 1.8s;
  transform: translateY(20px);
}
.branding__collage{
  display: flex;
}
.branding__collage img{
  width: 18rem;
  height: 20rem;
  margin-right: 1rem;
}

.hero__image.animated img,
.branding__image.animated img,
.custom__image.animated img,
.contact__image.animated img,
.footer__image.animated img {
  opacity: 1;
  transform: translateY(0);
}

.ellipse {
  background: rgba(142, 173, 213, 0.24);
  filter: blur(153px);
  width: 67.9rem;
  height: 67.9rem;
  position: absolute;
}

.ellipse_1 {
  transform: translate(-28%, -28%);
}

@media (max-width: 420px) {
  .ellipse_1 {
    transform: translate(-34%, -56%);
    background: rgba(135, 166, 207, 0.24);
  }
}

.ellipse_2 {
  transform: translate(166%, -50%);
}

@media (max-width: 420px) {
  .ellipse_2 {
    transform: translate(105%, -53%);
    background: rgba(135, 166, 207, 0.24);
  }
}

.arrow {
  font-size: 9rem !important;
  position: relative;
  animation: arrowRigth 1s linear infinite alternate 0s forwards;
}

@keyframes arrowRigth {
  0% {
    left: 0;
  }

  100% {
    left: 30px;
  }
}

@keyframes arrowBottom {
  0% {
    top: 0;
  }

  100% {
    top: 20px;
  }
}

@media (max-width: 420px) {
  .arrow {
    writing-mode: vertical-rl;
    font-size: 9rem;
    animation: arrowBottom 1s linear infinite alternate 0s forwards;
  }
}

.companies__content h6 {
  color: #667085;
}

@media (max-width: 420px) {
  .companies__content h6 {
    font-size: 15px;
  }
}

.companies__logos {
  width: 90%;
  display: flex;
  justify-content: center;
  transition: 2s;
  width: 0;
}

.companies__logos.animated {
  width: 73%;
}

.companies__logos video {
  height: 53rem;
  width: 100%;
}

@media (max-width: 420px) {
  .companies__logos img {
    width: 10rem;
    height: 4.8rem;
  }
}

@media (max-width: 420px) {
  .companies__logos video {
    width: 53rem;
    height: 30rem;
  }
}

@media (max-width: 310px) {
  .companies__logos img {
    width: 7rem;
    height: 5.8rem;
  }
}

.testimonial__container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 420px) {
  .testimonial__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.testimonial__text h2,
.testimonial__text p {
  transform: translateY(30px);
  opacity: 0;
  transition: 2s;
}

.testimonial__text h2.animated,
.testimonial__text p.animated {
  transform: translateY(0);
  opacity: 1;
}

.testimonial__card {
  background-color: #f6f6f6;
  width: 32%;
  padding: 3.2rem;
  transition: 2s;
  transform: skew(25deg);
  opacity: 0;
  color: #000000;
}

.testimonial__card.animated {
  transform: skew(0);
  opacity: 1;
}

@media (max-width: 420px) {
  .testimonial__card {
    width: 95%;
    margin-bottom: 4rem;
  }
}

.testimonial__card img {
  width: 30rem;
  height: 30rem;
}

@media (max-width: 680px) {
  .testimonial__card p {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .testimonial__card p {
    font-size: 4rem;
  }
}

.testimonial__card h5 {
  font-weight: 700;
  font-size: 2rem;
}

@media (max-width: 680px) {
  .testimonial__card h5 {
    font-size: 3rem;
  }
}

@media (max-width: 420px) {
  .testimonial__card h5 {
    font-size: 4rem;
  }
}

.contact__content {
  background-color: #f6f6f6;
  color: #000000
}

@media (max-width: 420px) {
  .contact__image img {
    display: none;
  }

  .contact__content {
    padding: 5rem 3.5rem;
  }
}

@media (max-width: 340px) {
  .contact__text h2,
  .contact__text p {
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 420px) {
  .branding__content {
    flex-direction: column-reverse;
  }
}

.footer {
  background-color: #f6f6f6;
}

.footer .wrapper {
  text-align: center;
  margin: auto;
}

.footer__content {
  align-items: baseline;
  opacity: 0;
  transition: 3s;
  text-align: center;
  justify-content: center;
}

.footer__content.animated {
  opacity: 1;
}

.footer__box a,
.footer .root {
  font-family: 'Inter-Light';
  font-weight: 300;
  font-size: 1.6rem;
  transition: 0.3s;
}
.footer__box a:hover {
  font-size: 1.8rem;
  transition: 0.3s;
}

@media (max-width: 420px) {
  .footer__box a,
  .footer .root {
    font-size: 3.6rem;
  }
  .footer__box a:hover{
    font-size: 3.8rem;
  }
}

@media (max-width: 420px) {
  .footer h6 {
    font-size: 3rem;
  }
}


